.page-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.page-wrapper-controls {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.page-wrapper-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
